<footer class="footer">
  <small>
    The <a href="https://murmuring-sierra-2494.herokuapp.com/">Sample APP</a>
    by <a href="https://github.com/scott-zhou">Scott Zhou</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>